<p class="lead">
    It all started in 2016 on Whatsapp. I had a few groups, managed by a few admins, who updated the Load Shedding schedules to the different groups.
    I then switched to Telegram Groups and Channels, which was updated by software.
    This page spread from the small number of Telegram groups that grew to a few hundered.
    As more and more people joined, new areas were requested and a search facility was an obvious progression.
    All areas in South Africa are now covered.
</p>