<p class="lead">
    There are many many channels on Telegram which publish the Load Shedding schedules as they change.
    Click on the <b>Home</b> button above and type in your area or town. If no results are shown, try a different search term.
    Not every single area and town is published by Eskom.
    If you cant find what you are looking for, but know the area or group or block which affect you, join that.
    For example: You want info about Load Shedding for Cape Town Area 8, but your search term did't provide any info. Type into the search bar "cape town"
    scroll down until you see area 8 and click on that line.
    The list will populate with the differnt channels on Telegram which publish live information about Load Shedding.
    Click on the line in the list, and join the spesific channel in Telegram to get updates as they happen.
</p>